Django==2.2.27
PyYAML==5.1.2
astroid==2.2.5
colorama==0.4.1
django-activity-stream==0.8.0
django-filter==2.4.0
django-kronos==1.0
djangorestframework==3.11.2
dodgy==0.2.1
lazy-object-proxy==1.4.3
logilab-common==1.4.3
mccabe==0.6.1
pep257==0.7.0
pep8==1.7.1
pep8-naming==0.4.1
pluggy==0.13.1
prospector==1.1.7
py==1.10.0
pyflakes==1.6.0
pylint==2.3.1
pylint-celery==0.3
pylint-common==0.2.5
pylint-django==2.0.10
pylint-flask==0.6
pylint-plugin-utils==0.5
requirements-detector==0.6
setoptconf==0.2.0
six==1.12.0
tox==3.14.3
virtualenv==16.7.9
wrapt==1.11.2
